.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.row-spell {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.row-monster {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.row-search {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.column-full,
.column-half,
.column-third {
  width: 100%;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 100%;
  }

  .column-half {
    width: 50%;
  }

  .column-third-button {
    width: calc(100% / 3);
  }

  .column-third {
    width: calc(100% / 3.2);
  }

  .fa-circle-minus {
    font-size: 1rem;
  }

  .home-button {
    font-size: 4rem;
  }

  .monster-search-button-2,
  .spell-search-button-2 {
    margin-top: 5rem;
  }

  .spell-search-button {
    margin-bottom: 6rem;
  }

  .submit-monster-button {
    background-color: transparent;
    border: none;
    border-radius: 100rem;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-top: 3rem;
  }
}
