.image{
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

h2{
  float: left;
}

.home-button{
  float:right;
}

.monster-search-button{
  margin-bottom: 6rem;
}

.monster-information{
  width:100%;
}
